<footer class="footer bg-dark pt-5 pb-4 pb-lg-5" data-bs-theme="dark">
  <div class="container text-center pt-lg-3">
    <div class="navbar navbar-expand-lg justify-content-center">
      <div class="navbar-brand text-dark mb-2 mb-lg-4">
        <a href="index.html" class="navbar-brand pe-3">
          <img id="logo" src="assets/svg/sai_logo_white.svg" width="47" alt="RunWithSAI" />
          RunWithSAI
        </a>
      </div>
      <ul class="nav justify-content-center pt-3 pb-4 pb-lg-5">
        <li class="nav-item">
          <a href="#home" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#all_events" class="nav-link">Events</a>
        </li>
        <li class="nav-item">
          <a href="#about_us" class="nav-link">About</a>
        </li>
        <!-- <li class="nav-item">
            <a href="#sponsors" class="nav-link">Sponsors</a>
          </li>
          <li class="nav-item">
            <a href="#recent_marathon" class="nav-link">Recent Marathon</a>
          </li> -->
        <li class="nav-item">
          <a href="#contact_us" class="nav-link">Contact Us</a>
        </li>
      </ul>
    </div>
    <div class="d-flex justify-content-center pt-4 mt-lg-3">
      <a href="https://www.facebook.com/RUNWITHSAI.KH" class="btn btn-icon btn-secondary btn-facebook mx-2"
        aria-label="Facebook">
        <i class="bx bxl-facebook"></i>
      </a>
      <a href="https://www.youtube.com/@BATHAMOUN" class="btn btn-icon btn-secondary btn-youtube mx-2"
        aria-label="YouTube">
        <i class="bx bxl-youtube"></i>
      </a>
    </div>
    <p class="nav d-block fs-sm text-center pt-5 mt-lg-4 mb-0">
      <span class="text-light opacity-50">&copy; All rights reserved. Powered by
      </span>
      <a class="nav-link d-inline-block p-0" href="https://bookme.plus/" target="_blank" rel="noopener">BookMe+</a>
    </p>
  </div>
</footer>