<header class="header navbar navbar-expand-lg bg-light shadow-sm fixed-top">
  <div class="container px-3">
    <a href="index.html" class="navbar-brand pe-3">
      <img id="logo" src="assets/svg/sai_logo_black.svg" width="47" alt="RunWithSAI" />
      RunWithSAI
    </a>

    <div id="navbarNav" class="offcanvas offcanvas-end">
      <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a href="#home" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="#all_events" class="nav-link">Events</a>
          </li>
          <li class="nav-item">
            <a href="#about_us" class="nav-link">About Us</a>
          </li>
          <li class="nav-item">
            <a href="#contact_us" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="form-check form-switch mode-switch pe-lg-1 ms-auto me-4" data-bs-toggle="mode">
      <input type="checkbox" class="form-check-input" id="theme-mode" />
      <label class="form-check-label d-none d-sm-block" for="theme-mode">Light</label>
      <label class="form-check-label d-none d-sm-block" for="theme-mode">Dark</label>
    </div>
    <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="https://www.bookme.plus/organizers/run-with-sai"
      class="btn btn-danger btn-sm fs-sm rounded d-none d-lg-inline-flex" target="_blank" rel="noopener">
      <i class="bx bx-cart fs-5 lh-1 me-1"></i>
      &nbsp;Buy Ticket
    </a>
  </div>
</header>