<section id="sponsors" class="position-relative bg-dark py-5">
  <div class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(255, 255, 255, 0.05)">
  </div>

  <div class="container position-relative zindex-5 pt-1 pt-md-2 pb-lg-2 pt-lg-4">
    <h2 class="h3 text-light text-center text-lg-start mb-4 mb-lg-5">Supported by:</h2>
    <div class="swiper ms-xxl-n5 me-xxl-n4" data-swiper-options='{
          "slidesPerView": 2,
          "spaceBetween": 24,
          "loop": true,
          "autoplay": { "delay": 3000, "disableOnInteraction": false },
          "pagination": { "el": ".swiper-pagination", "clickable": true },
          "breakpoints": {
            "500": { "slidesPerView": 3 },
            "650": { "slidesPerView": 4 },
            "900": { "slidesPerView": 5 },
            "1100": { "slidesPerView": 6 }
          }
        }'>
      <div class="swiper-wrapper">
        {% for supporter in site.supporters %}
        <div class="swiper-slide">
          <a href="#" class="d-block py-3">
            <img src="{{ supporter.logo_path }}" class="d-block mx-auto" width="115" alt="{{ supporter.alt }}" />
          </a>
        </div>
        {% endfor %}
      </div>

      <div class="swiper-pagination position-relative pt-2 mt-4"></div>
    </div>
  </div>
</section>