<section id="home" class="container-fluid position-relative px-0 pt-5 mt-3 mt-lg-4">
	<div class="row g-0">
		<div class="col-xl-7 col-lg-6 pe-lg-5">
			<div class="d-flex h-100 pe-xl-4">
				<video class="w-100" autoplay muted loop style="object-fit: cover">
					<source src="assets/video/runwithsai_video.mp4" type="video/mp4" />
				</video>
			</div>
		</div>
		<div class="col-xl-5 col-lg-6 position-relative py-5">
			<img src="assets/images/hero-bg.png"
				class="position-absolute top-50 translate-middle-y ms-lg-n4" width="866" alt="Background shapes" />
			<div class="position-relative zindex-5 text-center text-lg-start px-3 px-lg-0 py-xl-4 py-xxl-5 mt-lg-3 mx-auto mx-lg-0"
				style="max-width: 530px">
				<h1 class="display-3 pb-lg-3 mb-3 welcome-heading">
					We extend a warm welcome to
					<span class="text-dark fw-semibold">Run With Sai</span>.
				</h1>
				<div
					class="d-flex flex-column flex-sm-row justify-content-center justify-content-lg-start py-4 py-lg-5">
					<a href="https://www.bookme.plus/organizers/run-with-sai"
						class="btn btn-danger shadow-danger btn-lg me-sm-3 me-xl-4 mb-3" target="_blank"
						rel="noopener">Buy Ticket</a>
					<a href="#all_events" class="btn btn-outline-danger btn-lg mb-3">
						<i class="bx bx-calendar-check fs-xl me-2 ms-n1"></i>
						View Event
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="position-absolute d-none d-lg-block bottom-0 start-0 w-100 zindex-5 pb-xxl-5"></div>
</section>